//@format
.islandora-basic-collection-grid {
  @include xy-grid-container();
  @include xy-grid;
}
.islandora-basic-collection-object {
  @include xy-cell(3);
  display: flex;
  justify-content: space-around;
  @include card-container(
    none,
    inherit,
    $global-margin,
    //1px solid #ccc,
    0px,
    none
  );
}
.islandora-basic-collection-thumb {
  display: flex;
  justify-content: space-around;
}
dd.islandora-basic-collection-caption {
  text-align: center;
}
nav:not(.mm-menu) {
  display: flex;
}
