//@format

.l-header {
  background: $tan-2;

  padding-top: $global_padding;
}
.l-region--header {
  nav {
    display: flex;
    justify-content: space-around;
  }
  .topnav {
    background: $wine;
  }
}

header.l-header {
  text-align: center;
  padding: 1rem 0 0.7rem 0;
  @include double_borders();
}
.site-name {
  margin: $global-margin;
  color: $black;
  font-size: ms(1);
}
.site-slogan {
  @extend h2;
}

.site-name__icon {
  svg {
    fill: $black;
  }
  //padding-top: rem-calc(10);

  svg {
    //width: 3rem;
    height: 46px;
    width: 36px;
    @include breakpoint(medium) {
      height: 70px;
      width: 60px;
    }
  }
}
.site-name__container {
  display: flex;
  justify-content: center;
  h1 {
    margin-bottom: 0;
  }
}

$dropdownmenu-background: $wine;
header nav {
  background: $tan-3;
  background: $wine;
}
header .menu {
  //display:none;
  text-align: left;
  //margin-top: $global-margin;
  @extend .menu-centered;
  &__items {
    background: $tan-3;
  }
  a {
    //font-family: $font__fell-1--sc;
    color: $white;
    &:hover {
      background: $tan-1;
      text-decoration: underline;
      //color:$black;
    }
  }
}
.dropdown.menu > li > a {
  background: $dropdownmenu-background;
}
.dropdown.menu > li > a {
  background: $dropdownmenu-background;
}
