//@format
.field.field--name-field-site-info .field__label {
  @extend h2;
}
h1.pageTitle {
  margin: 1rem 0;
}

div#field_slideshow_image {
  margin-left: 0 !important;
  border: 3px solid #dcdcdc;
  padding: $global-padding;
  //padding-top: 0;
  padding-top: 1.1rem;
  border-radius: 12px;
}
.front .node__content {
  padding: 0;
}
.block--menu-menu-landing-page-block-menu > ul {
  display: flex;
  justify-content: space-between;
}
.lp-collection-category {
  & > ul {
    //border: 1px solid #ccc;
    display: flex;
  }
  & > a {
    @extend h2;
  }
}
.lp-block-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav#block-menu-menu-landing-page-block-menu {
  margin-top: $global-margin * 4;
  //padding: 0 $global-padding;
}
.lp-collection-tile {
  height: 220px;
  width: 160px;
  background-size: cover;
  margin-right: $global-margin;
  //margin-right: $global-margin;
  display: block;
  //background-image: url(https://via.placeholder.com/150);
  background-repeat: no-repeat;
  ////display: block;
  background-position: left top;
  padding-top: 230px;
  margin-bottom: $global-margin;
  //border: 1px solid #ccc;
  &#college_times {
    background-image: url(/islandora/object/pwc%3A2082/datastream/TN/view);
  }
  &#observer {
    background-image: url(/islandora/object/pwc%3A3298/datastream/TN/view);
  }
  &#calendars {
    background-image: url(/islandora/object/pwc%3A381/datastream/TN/view);
  }
  &#images {
    background-image: url(/islandora/object/pwc%3A1006/datastream/TN/view);
  }
}
#calendars,
#images {
  margin-right: 0 !important;
}
#themes > ul {
  @include menu-direction(vertical);
}
//.collection-grid {
//list-style-type: none;
//@include xy-grid-container();
//@include xy-grid;

//&__collection {
//@include xy-cell(6);

//@include card-container(
//none,
//inherit,
//$global-margin,
//1px solid #ccc,
//0px,
//none
//);
//}
//&__collection--title {
//@include card-divider;
//@extend h4;
//}
//&__collection--description {
//@include card-section;
//}
//}
.lp-block-wrapper {
  border: 3px solid #dcdcdc;
  padding: $global-padding;
  //padding-top: 0;
  position: relative;
  padding-top: 1.1rem;
  border-radius: 12px;
}
.lp-block-header {
  background: #fff;
  position: absolute;
  margin-top: -42px !important;
  top: -10;
}
//nav > .lp-block-menu {
//.lp-collection-category {
//background: #000;
//}
//& > li {
//border: 1px solid #ccc;
//padding: $global-padding / 2;
//padding-top: 0;
//&.lp-collection-category {
//}
//}
//}
ul.lp_nav_tiles {
  & > li {
    @include xy-cell(3);
    @include card-container(
      none,
      inherit,
      $global-margin,
      1px solid #ccc,
      0px,
      none
    );
  }
  @include xy-grid-container();
  @include xy-grid;
}

/*
 *landing page tweaks
 */
.front {
  //.pageTitle,
  .breadcrumbs {
    display: none;
  }
  .node__content {
    //@include xy-grid-container();
    @include xy-grid;
    padding-left: 0 !important;
    #field_slideshow_image {
      @include xy-cell(6);
    }
    .field--name-field-site-info {
      @include xy-cell(6);
    }
  }
}
/*
 *cards
 */
.card_icon {
  svg {
    width: 100%;
    height: auto;
    fill: $black;
  }
  display: none;
}
.interactive .wheel,
.learn_more .telescope,
.archives .sextant {
  display: block;
}
.card_icon {
  width: rem-calc(40);
  float: left;
  margin-right: $global-margin/2;
}
//slider
.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
  background: none;
  img {
    width: 753px;
  }
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
